.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    height: 430px;
    margin-top: 50px;
    width: 100%;
    /* padding:0;
    margin:0 !important; */
    object-fit: contain;
}